<html ng-app>

<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script type="text/javascript" src="angular.min.js" ></script>
</head>


<body style="padding:50px"
    ng-init="recipes = [
    {name: 'pasta al peso', type: 'italian',
    summary:'A quick and simple dish for any italian hosuehold'},
    {name: 'Garlic Broccolini', type: 'chinese',
    summary:'A healthy and full of glavour'},
    {name: 'shorbat addas', type: 'arab',
    summary:'bunk but the arabs like'},
    {name: 'berice and basto', type: 'somalian',
    summary:'pretty dank can be served with banana'},

    ] ">

    <p>Filter list: <input ng-model="searchFor" size="30" /> </p>

    <div style="width: 300px; float: left; margin-right: 20px; margin-bottom: 20px; min-height: 125px"
        ng-repeat="recipe in recipes | filter:searchFor" class="card card-group">
        <div class="card-heading"> {{recipe.name}} ({{recipe.type}})</div>
        <div class="card-body">
            {{recipe.summary}}
        </div>
    </div>
    <div style="clear: left"></div>
    <p> There are {{recipes.length}} recipes so far!</p>

</body>
</html>